<div class="m-auto w-25 border">

<div class="text-center border">

    <p>
        {{value}}
    </p>
    <p class="text-end text-black-50">
        {{calculichi}}
    </p>

</div>
<div class="container m-auto">
    <div class="row justify-content-between">

        <button class="col-9 btn btn-dark m-1" (click)="borrarCaracter()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
          </svg></button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(7)">7</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(8)">8</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(9)">9</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(4)">4</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(5)">5</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(6)">6</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(1)">1</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(2)">2</button>
        <button class="col-3 btn btn-dark m-1" (click)="addNum(3)">3</button>
        <button class="col-3 btn btn-dark m-1" (click)="sumar()">+</button>
        <button class="col-2 btn btn-dark m-1" (click)="restar()">-</button>
        <button class="col-2 btn btn-dark m-1" (click)="multiplicar()">*</button>
        <button class="col-2 btn btn-dark m-1" (click)="addFloat()">.</button>
        <button class="col-3 btn btn-dark m-1" (click)="borrar()">AC</button>
        <button class="col-3 btn btn-dark m-1 text-right" (click)="dividir()">/</button>
        <button class="col-3 btn btn-dark m-1" (click)="resultado()">=</button>

    </div>
</div>
</div>