.card{

    background-color: #3c3e44;
    max-height: 300px;
}
img {

    border-radius: 5px 0px 0px 5px;
    max-height: 300px;
}

.alive {

    background-color: green;
    border-radius: 500px;
    height: 15px;
    width: 15px;
}

.dead{

    background-color: red;
    border-radius: 150px;
    height: 15px;
    width: 15px;
}

.unknown {

    background-color: #aaaa;
    border-radius: 150px;
    height: 15px;
    width: 15px;
}